* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

main form h4 {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

main form .form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

main form .form-url {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

main form .form-description {
  font-family: 'Montserrat', Italic;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

main form section #rating-dropdown {
  font-family: 'Montserrat', Italic;
  font-size: 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}

ul li .fullBookmark #rating {
  font-family: 'Montserrat', Italic;
  font-size: 15px;
  display: flex;
  margin: 0 auto;
}

.controls .add-bookmark {
  color: darkcyan;
  font-family: 'Montserrat', Italic;
  font-size: 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.controls #filter-button {
  color: grey;
  font-family: 'Montserrat', Italic;
  font-size: 14px;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 7px;
}


ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}

 li {
  width: 29%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;
}



.add-bookmark-form {
  border: solid 2px grey;
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom: 25px;
}

.add-bookmark {
  margin-top: 30px;
}

ul li .expandedContent {
  display: none;
}

ul li .show-content {
  display: block;
}

ul li .glow {
  color: goldenrod;
}


/* #additionalBookmarkContent {
  display: block;
} */


#js-rating-input {
  margin: 10px;
}

body {
  text-align: center;
}

ul li #title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 50px;
}

ul li  #rating {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 50px;
}


ul li .description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;

}

ul li .url-link {
  display: flex;
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  padding: 25px;
}

ul li .btn-delete {
  background-color: grey; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 26px;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Darker background on mouse-over */
ul li .show-content .btn:hover {
  background-color: RoyalBlue;
}







